:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

* {
  margin: 0;
  padding: 0;
}

ol,
ul {
  list-style: none;
}

img 
{
  max-width: 100%;
  display: block;
}

button {
  background: transparent;
  border: none;
}